@font-face {
  font-family: "marinaio-medium";
  src: url("marinaioserif-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dinnext-regular";
  src: url("DINNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
